body {
	background-color: azure;
	/* text-align: center; */
}

#content {
	background-color: bisque;
	text-align: center;
	border: black solid 4px;
	padding: auto;
	padding-left: 300px;
	padding-right: 300px;
	margin-left: 150px;
	margin-right: 150px;
}
td {
	text-align: justify;
}
h1 {
	text-align: center;
}
